body {
  background-color: #1D1E1F;
  color: white;
}

a {
  color: white;
  font-style: none;
}

.room-card {
  background-color: #2D2E2F;
  display: inline-block;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

li {
  list-style: none;
  padding: 10px;
}